PRIVATE_KEY=
DEPLOYER_ADDRESS=
BACKEND_SIGNER_ADDRESS=
SHANNON_API_KEY=

RPC_URL=https://dream-rpc.somnia.network/

# Latest deployed contracts on Somnia testnet (optional references)
TREASURY_CONTRACT_ADDRESS=0xA6e1A812962409eb58D32Ed6132a6E578f115e92
PROFILE_CONTRACT_ADDRESS=0x0F0C7932ed20F3dd1D048f09cF6ea83774237a2d
GAME_CONTRACT_ADDRESS=0x49fEd2F4eD3C7bb89cfaC962FAAa4fC6029dDbf5
EVENT_HANDLER_CONTRACT_ADDRESS=0xd4AAA8333B6A5408b12510b68bE78bB41edb628E
LEADERBOARD_CONTRACT_ADDRESS=0xD998f7F5f5926B30D5D482f4c3FFCAd3d5a65F7d
