PRIVATE_KEY=

HANDLER_ADDRESS=
PROFILE_ADDRESS=
TREASURY_ADDRESS=
PRIORITY_FEE_GWEI=0
MAX_FEE_GWEI=10
SUBSCRIPTION_GAS_LIMIT=3000000
OWNER_ADDRESS=
SUBSCRIPTION_FROM_BLOCK=
LOG_BLOCK_SPAN=900
SUBSCRIPTION_IDS=
DRY_RUN=false
SKIP_OWNER_CHECK=false
